h1 {border: solid 3PX red;
}




h1 {color: crimson;
}

h1 {text-align: center;
}

h1 {font-size: 200%;
}

#bas {width: 35%;
}

#bas {margin-left: 35%;
}

#basq {width: 35%;
}

#basq {margin-left: 30%;
}

#basqu {width: 40%;
}

#basqu {margin-left: 25%;
}

h2 {color: midnightblue;
}

b {color: blueviolet;
}

#basquete {width: 32%;
}

#basqute {margin-left: 25%;
}

a {text-align: center;
}

