h1 {color: crimson;
}

h1 {text-align: center;
}

#bas {width: 35%;}

#basq {width: 30%;
}

#basqu {width: 40%;
}

h2 {color: midnightblue;
}

b {color: blueviolet;
}

#basquete {margin-left: 25%;
}

