h1 {border: solid 3PX red;
}

h1 {color: crimson;
}

h1 {text-align: center;
}

h1 {font-size: 200%;
}

#bas {width: 35%;
}

#bas {margin-left: 33%;
}

#bas {margin: left;
}

#bas {margin: right;
}

#basq {width: 35%;
}

#basq {margin-left: 33%;
}

#basqu {width: 37%;
}

#basqu {margin-left: 33%;
}

h2 {color: midnightblue;
}

b {color: rgb(116, 226, 43);
}

#basquete {width: 32%;
}

#basqute {margin-left: 33%;
}

a {text-align: center;
}


